$theme-colors: (
    'primary': #0091ea 
    //Covalence Blue!  :D
);



@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    // border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 180%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #fff;
   
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color:#fff;
    color: white;
    transform: rotateY(180deg);
  }

  .Preview {
    height: 109%;
    width: 105%;
  }

  .BhamSouthern,.BhamZoo,.BotanicalGardens,.BJCC {
    height: 109%;
    width: 105%;
  }



  .flex-container{
    display: flex;
    flex-direction: row;
  }

  .row{
    float: left;
  } 

  .A{
    border: 1px solid red;
  }
footer {
    background-color: #d05f3d;    
}

nav {
    background-color: #d05f3d;
    
}

 a {
    color: #181102;
}

a:hover {
    color: #dfa831;
}
.primary{
 color: #0091ea //Covalence Blue!  :D,,
} 
  

footer.h6 {
   color: #0a3176; 
};
   
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.fullBgCoverImg {
  height: 100%;
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
  opacity: 0.8;
}

.coverImgContainer {
  height: 600px;
  width: 100vw;
  overflow: hidden;
}

@media (min-width: 768px) {
  .flip-card,
  .flip-card-back {
    // centers the cards on small mobile devices
    margin-left: auto;
    margin-right: auto;
  }
}