$theme-colors: (
    'primary': white,
    'secondary': #d05f3d, 
    'info': #dfa831,
    'danger': #e4dcda,
    'success': #667b5b, 
    'warning': #857671,
    'custom-blue': #485e9a,  
    'custom-light-green': #f2f8f2,
          
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: #f8f8f8;
}

// Background Image on homepage
.coverImgContainer {
    height: 600px;
    width: 100vw;
    overflow: hidden;
    z-index: 0;
}

.fullBgCoverImg { 
    width: auto;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    opacity: 0.8;
    z-index: 0;
}

.logo {
    max-width: 30%;
    height: auto;
    z-index: 1;
}

.homepageCards {
    z-index: 1;
}

// Flipcard on Vulcandex page
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-bottom: 12em;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 180%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #fff;
  color: white;
  transform: rotateY(180deg);
  margin-bottom: 12em;
}
.vulcan-map {
    width: 75%;
    height: auto;   
    object-fit: cover;         
}

@media (min-width: 768px) {
    .cards-home,
    .container-fluid
    {
        width: 100%; 
        height: auto;
        object-fit: cover; 
    }
  }

  @media (min-width: 768px) {
    .card-details,
    .container-fluid 
    {
        width: 85%; 
        height: auto;
        object-fit: cover; 
    }
  }

  @media (min-width: 768px) {
    .logo,
    .container-fluid
    {
        width: 20%; 
        height: auto;
        object-fit: cover; 
    }
  }

.Preview {
  height: 109%;
  width: 105%;
}

.BhamSouthern,
.BhamZoo,
.BotanicalGardens,
.BJCC {
  height: 109%;
  width: 105%;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

#vulcandexRow {
  float: left;
}

footer {
    background-color: #d05f3d;
    border: 2px solid #dfa831;
    z-index: 9999;
}

nav {
    background-color: #d05f3d;
    border: 2px solid #dfa831;
    z-index: 9999;
}

a {
    color: #0a3176;
}

a:hover {
    color: #dfa831;
}

footer.h6 {
    color: #0a3176;
}

@media (max-width: 768px) {
  .flip-card,
  .flip-card-back {
    // centers the cards on small mobile devices
    margin-left: auto;
    margin-right: auto;
  }
}
